@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');

:root {
    --primary-color: #36454F;
}

html {
    font-family: 'GothamPro', sans-serif;
    font-size: 75%;
}

body {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}